<div>
	<div class="row-fluid">
        <h3>Save the data</h3>
    </div>
</div>
<div>
	<div class="row-fluid">
        Select the fields you want to upload:</br>
        <input type='checkbox' ng-model="email" ng-checked="true" ng-disabled="true">Email Address
        <input type='checkbox' ng-model="name" >Name
        <input type='checkbox' ng-model="phone" >Contact Number
        <input type='checkbox' ng-model="location">Location
	</div>
</div>
<div>
    <div class="row-fluid">
        <div>
            <button ng-click="saveData(name, phone, location);" class="btn btn-success pull-right">Submit</button>
            <span class="pull-right">&nbsp;&nbsp;</span>
            <button ng-click="cancel()" class="btn pull-right">Cancel</button>
        </div>
    </div>
</div>